{% load static %}

<nav
        class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-0 py-lg-0 px-4 px-lg-3 wow fadeIn"
        data-wow-delay="0.1s"
>
    <a href="#" class="navbar-brand p-0">
        <img class="img-fluid me-3" alt="Icon" src="{% static 'img/icon/icon.png' %}"/>
        <h2 class="m-0 text-primary">Republic of Moldova: Protected Areas</h2>
    </a>

    <div class="navbar-nav ms-auto">
        <a href="#" class="nav-item nav-link active">Home</a>
        <a href="#" class="nav-item nav-link">About</a>
    </div>


</nav>
